:root {
    --body-bg: #faf8ef;

    --board-bg: #bbada0;
    --empty-tile-bg: #cdc1b4;

    --restart-button-bg :#8f7a66;
    
    --default-tile-color: #f9f6f2;

    --tile-2-bg: #eee4da;
    --tile-lower-color: #776e65;

    --tile-4-bg: #ede0c8;

    --tile-8-bg: #f2b179;

    --tile-16-bg: #f59563;

    --tile-32-bg: #f67c5f;

    --tile-64-bg: #f65e3b;

    --tile-128-bg: #edcf72;

    --tile-256-bg: #edcc61;

    --tile-512-bg: #edc850;

    --tile-1024-bg: #edc53f;

    --tile-2048-bg: #edc22e;

}